# Ignore individual files
TODO.md
/git/NOTES.md
aws-templates/cloudformation/chaos-vpc/Notes.md

# Ignore folders
ai/
cloudops/monitoring/cloudops-template-lab.md
.gitignore
cloudops/monitoring/cloudops-template-readme.md
