# Ignore a file
TODO.md
/git/NOTES.md

# ignore folder
aws-templates/cloudformation/aws-linux-lab/docs/
admin/
ai/
aws-templates/cloudformation/chaos-vpc/chaos-vpc-test-template.yml
aws-templates/cloudformation/chaos-vpc/Notes.md
aws-templates/cloudformation/ec2-and-s3-test
aws-templates/cloudformation/mayhem-instance
aws-templates/cloudformation/user-data
aws-templates/cloudformation/chaos-vpc-refresh